.filters {
  display: flex;
  background-color: #ffffff;
  height: 70px;
  width: 100%;
  border: 1px solid #dddddd;
  border-radius: 4px;
  align-items: center;
}

.button {
  font-size: 18px;
  background-color: #ff5a5f;
  color: #ffffff;
  height: 48px;
  width: 20%;
  border: none;
  border-radius: 4px;
  margin-right: 30px;
  margin-left: auto;
}

.button:hover {
  opacity: 90%;
}

.locations {
  height: 100%;
  width: 25%;
  border-right: 1px solid #dddddd;
}

.amenities {
  height: 100%;
  width: 25%;
}

.locations_title,
.amenities_title {
  font-weight: 600;
  margin-bottom: 0;
  margin-left: 40px;
}

.locations_subtitle,
.amenities_subtitle {
  font-weight: 400;
  font-size: 14px;
  margin-top: 0;
  margin-left: 40px;
}

.popover {
  background-color: #fafafa;
  display: none;
  position: relative;
  width: 100%;
  border: 1px solid #dddddd;
  border-radius: 4px;
  list-style-type: none;
  padding: 20px;
  box-sizing: border-box;
}

.state_name {
  font-size: 16px;
  margin-top: 20px;
  margin-bottom: 0;
  padding-left: 10px;
}

.cities_name {
  list-style-type: none;
}

.locations:hover .popover {
  display: block;
}

.amenities:hover .popover {
  display: block;
}
