.places-title {
  font-size: 30px;
  min-width: 100%;
}

.places-article {
  display: flex;
  justify-content: center;
  width: 390px;
  padding: 20px;
  margin: 20px;
  border: 1px solid #ff5a5f;
  border-radius: 4px;
}

.article-title {
  font-size: 30px;
  margin: 0;
  padding: 0;
}

.articles {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
