.places-title {
  font-size: 30px;
  min-width: 100%;
}

.places-article {
  display: flex;
  justify-content: center;
  width: 390px;
  padding: 20px;
  margin: 20px;
  border: 1px solid #ff5a5f;
  border-radius: 4px;
}

.article-title {
  font-size: 30px;
  margin: 0;
  padding: 0;
}

.articles {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  box-sizing: border-box;
}

.places-article {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 30px;
}

.price_by_night {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 10px;
  right: 10px;
  color: #ff5a5f;
  border: 4px solid #ff5a5f;
  border-radius: 50%;
  min-width: 60px;
  min-height: 60px;
  font-size: 30px;
}

.information {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 1px solid #cccccc;
  border-bottom: 1px solid #cccccc;
  margin-top: 40px;
  margin-bottom: 40px;
  padding: 10px;
}

.max_guest,
.number_bathrooms,
.number_rooms {
  width: 100px;
}

.group {
  width: 50px;
  height: 50px;
  background: url("../images/icon_group.png") top center no-repeat;
  background-size: contain;
}

.room {
  width: 50px;
  height: 50px;
  background: url("../images/icon_bed.png") top center no-repeat;
  background-size: contain;
}

.bathroom {
  width: 50px;
  height: 50px;
  background: url("../images/icon_bath.png") top center no-repeat;
  background-size: contain;
}

.user {
  align-self: flex-start;
  margin-bottom: 15px;
}
